body{
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  background-color: rgb(0, 51, 25);
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p{
  margin: 0px 0px 0px 0px;
}
.margin-page{
  margin-top: 7vw;
}
.page{
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 90vh;
  padding: 0px;
  /* background-color: red; */
}
.full-screen{
  display: flex;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0px;
  margin: 0px;
}
.dark-background{
  background-color: rgba(0, 0, 0, 0.8);
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 100%;
  border: 2px solid white;
  margin: 15px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 25px black;
  font-family: "Audiowide", sans-serif;
  color: white;
}
